	  ul{
										  list-style-type:none;
										  margin:0px;
										  padding:0px;
										  overflow:hidden;
										  background-color:#000000;
										  }
										  
										  li{
										  float:left;
										  }
										  
										  li a {
										  display:block;
										  color:#FFFFFF;
										  text-align:center;
										  padding:25px 20px;
										  font-size:20px;
										  font-family:rockwell;
										  text-decoration:none;
										  }
										  
										  li a:hover {
										  background-color:#036D0B
										  }

body {
		            background-color:cyan;
		            color:red;
		            text-align:center;
		            }
